html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.decoration {
  width: 100%;
  height: 100vh;
  background-color: rgb(183, 126, 208);
  position: absolute;
  top: calc(-115vh + 120vw);
  transform: skewY(-25deg);
  z-index: -1;
  box-shadow: 0 -0.3em 1.2em black;
}

.about-me {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me > .information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-container {
  position: relative;
}

.picture-container > picture {
  width: 100%;
  position: relative;
}

.responsive-image-one {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.picture-container > .name {
  box-sizing: border-box;
  margin: 0;
  font-size: min(calc(20vw - 0.5rem), 4rem);
  text-wrap: wrap;
  color: rgb(240, 240, 240);
  position: absolute;
  bottom: 1rem;
  padding: 0 6%;
  text-shadow: 1px 1px 5px rgb(62, 62, 62);
}

.information > .text {
  display: flex;
  flex-direction: column;
}

.text > h2 {
  align-self: center;
  font-size: 2.1rem;
  margin-bottom: 0;
}

.text > p {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.text > .icons {
  align-self: center;
  display: flex;
  gap: 18px;
}

.text > .icons > a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.projects {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.projects > h2 {
  margin: 0;
  font-size: 2.1rem;
}

.project-container {
  margin: 0 24px;
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
}

.project {
  display: grid;
  grid-template-rows: 3fr 2fr;
  box-shadow: 3px 3px 8px rgb(139, 139, 139);
}

.screenshot {
  position: relative;
}

.screenshot > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.screenshot::after {
  box-shadow: inset 0 -1px 6px -3px rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.project-info {
  height: 160px;
  display: grid;
  grid-template: 1fr 3fr / 3fr 1fr;
}

.project-name {
  font-size: 1.2rem;
  padding-left: 12px;
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}

.project-icons {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
  align-self: center;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.project-icons > a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.project-icons > a > img {
  width: 32px;
}

.description {
  padding-left: 12px;
  grid-area: 2 / 1 / 3 / 3;
}

.contact-me {
  width: 100vw;
  margin-top: 36px;
  background-color: rgb(167, 106, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(233, 230, 230);
}

.contact-details {
  padding: 18px;
}

.contact-details > h2 {
  text-align: center;
}

.contact-details > .icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.contact-details > .icons > a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(233, 230, 230);
}

.contact-me > picture {
  display: flex;
  align-items: flex-end;
  width: 100vw;
}

.contact-me > picture > .responsive-image-two {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (min-width: 600px) {
  .decoration {
    height: 80vh;
    top: -50vh;
    transform: skewY(-10deg);
  }

  .about-me {
    width: 75%;
    margin-top: 11rem;
  }

  .about-me > .information {
    padding: 24px;
    display: block;
    width: 100%;
    height: fit-content;
  }

  .picture-container {
    width: clamp(300px, 64%, 380px);
    height: 320px;
    float: left;
    margin-right: -20px;
    margin-bottom: -56px;
    display: flex;
    justify-content: end;
    align-items: end;
    transform: translateX(-40px) translateY(-50px);
  }

  .picture-container > .name {
    max-width: 400px;
    font-size: min(calc(-1.2rem + 10vw), 4.3rem);
    text-wrap: nowrap;
    position: absolute;
    top: -2rem;
    left: 250px;
  }

  .information > .text {
    display: block;
    background-color: white;
    padding: 24px;
    box-shadow: 3px 3px 10px rgb(139, 139, 139);
  }

  .project-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .project-info {
    height: 200px;
  }

  .contact-me {
    display: grid;
    grid-template-columns: 7fr 5fr;
  }

  .contact-details {
    max-width: 400px;
    padding-left: 32px;
    justify-self: center;
    align-self: center;
  }

  .contact-details > h2 {
    font-size: 2.1rem;
    text-align: start;
  }

  .contact-details > p {
    font-size: 1.2rem;
  }

  .contact-details > .icons {
    margin-top: 48px;
  }

  .contact-me > picture {
    width:auto;
  }

  .contact-me > picture > .responsive-image-two {
    width: 100%;
    height: auto;
    transform: scale(80%);
  }
}

@media screen and (min-width: 1200px) {
  .about-me {
    width: 80vw;
    height: clamp(300px, 30vh, 400px);
    margin-top: 4rem;
  }

  .about-me > .information {
    display: grid;
    grid-template: 1fr / 380px 3fr;
    align-items: center;
  }

  .picture-container {
    width: 100%;
    margin: 0;
    justify-self: end;
    transform: none;
    display: flex;
    align-items: center;
  }

  .picture-container > picture {
    width: min(100%, 500px);
    display: flex;
    justify-content: flex-end;
  }

  .picture-container > .name {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    top: auto;
    bottom: -2.5rem;
    left: 0;
  }

  .information > .text {
    padding: 12px 16px 28px 16px;
    display: flex;
    flex-direction: column;
  }

  .information > .text > .icons {
    align-self: flex-end;
  }

  .projects {
    margin-top: 140px;
  }
}
